p {
  font-family: 'Fira Sans', sans-serif;
  font-size:20px;
}

.identity{
  margin: 10px 25px 0px 25px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.name{
  display:block;
}

.identity .name p {
  font-size: 13px;
}

.buttons{
  margin-top: 10px;
}
.graph-container{
  display:flex;
  max-width:100%;
  align-items: center;
  justify-content:space-between;
  margin: 25px;
  flex-shrink: 1;
  flex-wrap:nowrap;
}


.graph-chart{
  display:flex;
  max-width: 100%;
  align-items: center;
  justify-content:space-between;
  padding: 10px 25px 10px 25px;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.graph-three{
  border-radius: 10px;
  padding:1rem;
  padding-top:5px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.graph{
  border-radius:10px;
  padding:1rem;
  padding-top:5px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  background-color: white;
}
.graph p{
  font-size: 18px;
}

button{
  margin:5px 25px 25px 25px;
  font-size:15px;
  font-family:'Fira Sans', sans-serif;
  padding:5px 10px 5px 10px;
}